.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__title {
  font-size: 3rem;
  margin: 1rem;
  color: var(--gray-light);
  cursor: pointer;
  text-shadow: var(--box-shadow-low);
}

.header__motto {
  font-size: 0.8rem;
  padding: 1em;
  width: 100%;

  background: var(--main-color);
  border-bottom: var(--standard-border);
}
