.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__title {
  font-size: 3rem;
  margin: 1rem;
  color: var(--gray-light);
  cursor: pointer;
  text-shadow: var(--box-shadow-low);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header__wrapper_motto {
  padding: .5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  background: var(--main-color);
  border-bottom: var(--standard-border);
}

.header__motto {
  font-size: 18px;
}

/* buttons */
.header__wrapper_btns {
  gap: 1rem;
}

.header__btn-wrapper {
  width: 36px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
}

.header__btn-wrapper:hover {
  background-color: var(--gray);
}

.header__btn {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1080px){
  .header__title {
    margin: 8px auto 10px auto;
  }
}

@media screen and (max-width: 580px){
  .header__wrapper_motto {
    justify-content: center;
    gap: 0;
  }

  .header__motto {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 480px){
  .header__motto {
    padding: 0 5px;
  }
}



