.section-photo__title {
	padding: .3em .5em;
	text-align: center;
	background: var(--main-color);
	border-top: var(--standard-border);
	border-bottom: var(--standard-border);
}

.section-photo__wrapper {
	padding: 2rem 1rem 1rem 1rem;
	margin-bottom: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.delete-button {
  padding: 2px 8px;
  font-size: 25px;
  border-top: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  background-color: #000;
  transition: transform 150ms;
}
.delete-button:hover {
  color: var(--red);
}

.small-gallery {
	max-width: 80%;
	padding: 2em 0;
	margin: 0 auto;

	display:  flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.small-gallery__back-button {
  display: none;

  position: fixed;
  top: 1rem;
  right: 1.2rem;

	background: var(--main-color);
}
.small-gallery__back-button.btn {
 transition: box-shadow 100ms, transform 100ms;
}
.small-gallery__back-button:hover{
	box-shadow: var(--box-shadow-low);
}

.small-gallery__item {
	margin: .7rem;
	width: 15rem;
	height: 10rem;
	position: relative;

	border-radius: 3px;
	overflow: hidden;

	transition: transform 150ms, box-shadow 150ms;
	transition-delay: 50ms;
}
.small-gallery__item:hover {
	cursor: pointer;
	transform: translateY(4px);
	box-shadow: var(--box-shadow-low);
}

.small-gallery__photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.small-gallery__delete-button {
	font-weight: bold;

	position: absolute;
	top: 0em;
	right: 0.5em;
}

