@import 'assets/styles/general.css';
@import 'components/header/header.css';
@import 'components/galleryPreview/galleryPreview.css';
@import 'components/gallery/gallery.css';
@import 'components/modal/modal.css';
@import 'assets/styles/queries.css';

@font-face {
  font-family: 'Roboto-bold';
  src: url('assets/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-regular';
  src: url('assets/fonts/Roboto-Regular.ttf');
}

