.gallery{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	z-index: 999;
	overflow: hidden;
	min-height: 100vh;


	background-color: #0007;
	backdrop-filter: blur(10px);
	color: var(--accent-color);

	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	display: none;
}

/* buttons */
.gallery__button{
	position: absolute;
	font-size: 1.5rem;

	font-weight: bold;
	border: none;

	background: transparent;
	color: var(--accent-color);
	cursor: pointer;
}
.gallery__button_visible{
	padding: .3rem .45rem;
	color: var(--gallery-button-light);
	border-radius: 3px;
}

.gallery__button:hover .gallery__button_visible{
	background-color: var(--gallery-button-light);
	color: var(--gallery-button-dark);
}
.gallery__button:focus .gallery__button_visible{
	color: var(--gallery-button-light);
	background-color: transparent;
}

.gallery__button_close{
	height: 8%;
	width: 100%;
	font-size: 1rem;
}
.gallery__button_previous{
	height: 100%;
	width: 10%;
	left: 0;
	top: 0;
	bottom: 0;
}
.gallery__button_next{
	height: 100%;
	width: 10%;
	right: 0;
	top: 0;
	bottom: 0;
}

/* photos */
.gallery__carousel{
	width: 100%;
	height: 84%;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	display: flex;
	justify-content: center;
}
.gallery__image{
	width: 100%;
	object-fit: contain;
}

/* photo indicators */
.gallery__carousel-indicators-wrapper{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8%;

	list-style: none;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery__indicator{
	margin: 0 .3em;
	width: .8rem;
	height: .8rem;

	background: var(--gallery-button-light);
	border: 3px solid var(--gallery-button-dark);
	border-radius: 50px;
}
.gallery__indicator.gallery__indicator-active{
	background: #fff;
	border: 3px solid black;
}
