.section-photo__controls-wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.file-input{
	width: 90%;
	padding: 1rem;

	border-radius: 5px;
	background: var(--main-color);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	border: var(--standard-border);
}

.file-input__input{
	margin: 2em 0;
	cursor: pointer;
}

.file-input__add-btn{
	align-self: center;
}

.section-photo__color-input-main-wrapper{
	width: 90%;
	margin: 1em 0;
	padding: .5em 1em;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: var(--main-color);
	border-radius: 3px;
	border: var(--standard-border);
}
.section-photo__color-input-wrapper{
	width: 100%;
	margin-top: .5em;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.section-photo__color-input{
	width: 40%;
}

.section-photo__create-btn{
	width: 90%;
}
