@import 'controls-wrapper/controls-wrapper.css';
@import 'small-gallery/small-gallery.css';


.section-photo__title{
	padding: .3em .5em;
	text-align: center;
	background: var(--main-color);
	border-top: var(--standard-border);
	border-bottom: var(--standard-border);
}

.section-photo__wrapper{
	padding: 2rem 1rem 1rem 1rem;
	margin-bottom: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
