.gallery {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	z-index: 999;
	overflow: hidden;
	min-height: 100vh;


	background-color: #0007;
	backdrop-filter: blur(10px);
	color: var(--accent-color);

	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	display: none;
}

/* buttons */
.gallery__button {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: bold;
	font-size: 1.5rem;
	border: none;

	background: transparent;
	color: var(--white);
	cursor: pointer;
	text-shadow: 2px 2px 2px var(--black);
	transition: 0ms;
}

.gallery__button:hover {
	font-size: 2.5rem;
}

.gallery__button_close {
	height: 8%;
	width: 100%;
}

.gallery__button_previous,
.gallery__button_next {
	height: 100%;
	width: 10%;
	top: 0px;
	bottom: 0px;
}

.gallery__button_previous {
	left: 0px;
}
.gallery__button_next {
	right: 0px;
}

/* photos */
.gallery__carousel {
	width: 100%;
	height: 84%;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	display: flex;
	justify-content: center;
}
.gallery__image {
	width: 100%;
	object-fit: contain;
}

/* photo indicators */
.gallery__carousel-indicators {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery__carousel-indicators-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	padding: 10px 20px;
	border-radius: var(--border-radius);

	list-style: none;
	font-weight: bold;
}

.gallery__indicator {
	width: 20px;
	height: 15px;

	background-color: var(--black);
	border: 2px solid var(--white);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-low);
	cursor: pointer;
}
.gallery__indicator_active {
	background-color: var(--white);
}
