.header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__title{
  font-family: 'Roboto-bold';
  font-size: 3.5rem;
  margin: 0.2em;

  font-weight: bold;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.header__motto {
  font-size: 0.8rem;
  padding: 1em;
  padding-left: 1em;
  width: 100%;

  background: var(--main-color);
  border-bottom: var(--standard-border);
}
